name: print-tf-plan
on: [push]
permissions:
  id-token: write
  contents: read
jobs:
  print-tf-plan:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: print env
        run: env
      - name: install stuff
        run: |
          brew install tfenv
          tfenv install 1.1.8
          tfenv use 1.1.8
      - name: assume role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::111093107596:role/jj-tf-planner
          aws-region: eu-central-1
      - name: aws - print caller identity
        run: aws sts get-caller-identity
      - name: print home
        run: echo "$HOME"
      - name: pwd
        run: pwd
      - name: ls
        run: ls -A
      - name: list changed files
        run: |
          export JJ_NO_DIFF=false
          git diff "${GITHUB_SHA}^" --name-only | grep -E '[-a-zA-Z0-9]+\.tf' > diff.txt || export JJ_NO_DIFF=true
          echo "no diff: $JJ_NO_DIFF"
          sed -E -i.bak 's/[-a-zA-Z0-9]+\.tf//' diff.txt
          cat diff.txt.bak
          cat diff.txt
      - name: create tf plan
        run: |
          cd apply/banana
          terraform init
          terraform plan -lock=false > plan.txt
      - name: store tf plan
        uses: actions/upload-artifact@v3
        with:
          name: plan.txt
          path: apply/banana/plan.txt
          retention-days: 3
