name: print-tf-plan
on: [push]
permissions:
  id-token: write
  contents: read
jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: create diff list
        run: |
          export JJ_DIFF_LIST='["test","something"]'
#        run: |
#          export JJ_DIFF_LIST=$(git diff "${GITHUB_SHA}^" --name-only | grep -E '[-a-zA-Z0-9]+\.tf' | sed -E 's/[-a-zA-Z0-9]+\.tf//' | sort -u | jq -R -s -c 'split("\n")[:-1]')
#          echo "$JJ_DIFF_LIST"
      - name: set matrix
        id: set-matrix
        run: echo "::set-output name=matrix::$(echo ${JJ_DIFF_LIST})"
  build:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tf: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
      - name: print matrix value
        run: echo ${{ matrix.tf }}
