name: print-tf-plan
on: [push]
permissions:
  id-token: write
  contents: read
jobs:
  print-tf-plan:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install stuff
        run: |
          wget https://releases.hashicorp.com/terraform/1.1.8/terraform_1.1.8_linux_arm64.zip
          unzip terraform_1.1.8_linux_arm64.zip
          rm terraform_1.1.8_linux_arm64.zip
          mv terraform /bin
      - name: hello
        run: echo "hello"
      - name: assume role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::111093107596:role/jj-s3-lister
          aws-region: eu-central-1
      - name: aws - s3 list all
        run: aws s3 ls
      - name: aws - get caller identity
        run: aws sts get-caller-identity
      - name: ls
        run: ls -A
      - name: print tf plan
        run: |
          cd apply/banana
          terraform plan
