name: print-tf-plan
on: [push]
permissions:
  id-token: write
  contents: read
jobs:
  print-tf-plan:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install stuff
        run: |
          brew install tfenv
          tfenv install 1.1.8
          tfenv use 1.1.8
      - name: assume role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::111093107596:role/jj-tf-planner
          aws-region: eu-central-1
      - name: aws - print caller identity
        run: aws sts get-caller-identity
      - name: pwd
        run: pwd
      - name: ls
        run: ls -A
      - name: create tf plan
        run: |
          cd apply/banana
          terraform init
          terraform plan -lock=false > plan.txt
      - name: store tf plan
        uses: actions/upload-artifact@v3
        with:
          name: plan.txt
          path: plan.txt
          retention-days: 3
