name: print-tf-plan
on: [push]
permissions:
  contents: read
  id-token: write
  issues: write
env:
  JJ_TEST: false
jobs:
  prepare:
    runs-on: ubuntu-latest
    env:
      JJ_DIFF_LIST: "[]"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: create diff list
        run: |
          export JJ_TEMP='["apply/banana/"]'
          echo "JJ_DIFF_LIST=$JJ_TEMP" >> $GITHUB_ENV
#        run: |
#          export JJ_TEMP=$(git diff "${GITHUB_SHA}^" --name-only | grep -E '[-a-zA-Z0-9]+\.tf' | sed -E 's/[-a-zA-Z0-9]+\.tf//' | sort -u | jq -R -s -c 'split("\n")[:-1]')
#          echo "JJ_DIFF_LIST=$JJ_TEMP" >> $GITHUB_ENV
      - name: print diff list
        run: |
          echo $JJ_DIFF_LIST
      - name: set matrix
        id: set-matrix
        run: |
          echo "::set-output name=matrix::$JJ_DIFF_LIST"
  test:
    needs: prepare
    runs-on: ubuntu-latest
    outputs:
      bla: ${{ steps.test.outputs.bla }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: bla issues
        id: bla
        uses: octokit/request-action@v2.x
        with:
          route: GET /repos/{owner}/{repo}/issues?labels={labels}&state={state}
          owner: CodeVenom
          repo: gha-test
          labels: bla
          state: open
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      - name: print bla data
#        run: echo '${{ steps.bla.outputs.data }}'
#      - name: bug
#        uses: JasonEtco/create-an-issue@v2
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          assignees: CodeVenom
#          filename: .github/workflows/bug.md
      - name: test
        id: test
        run: echo "::set-output name=bla::$JJ_TEST"
  build:
    if: ${{ needs.test.outputs.bla == 'true' }}
    needs: [prepare, test]
    runs-on: ubuntu-latest
    env:
      JJ_PREFIX: ""
    strategy:
      fail-fast: false
      matrix:
        tf: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: install stuff
        run: |
          brew install tfenv
          tfenv install 1.1.8
          tfenv use 1.1.8
      - name: assume role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::111093107596:role/jj-tf-planner
          aws-region: eu-central-1
      - name: create tf plan
        run: |
          cd ${{ matrix.tf }}
          terraform init
          terraform plan -lock=false > plan.txt
          cat plan.txt
      - name: jj-prefix
        run: |
          export JJ_TEMP=$(echo ${{ matrix.tf }} | sed -E 's%/%-%g')
          echo "JJ_PREFIX=$JJ_TEMP" >> $GITHUB_ENV
      - name: store tf plan
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.JJ_PREFIX }}plan.txt
          path: ${{ matrix.tf }}plan.txt
          retention-days: 3
